.icon {
    /* -webkit-mask: url('../icons/ICON.svg') no-repeat; */
    /* mask: url('../icons/ICON.svg') no-repeat;
     */
    -webkit-mask: url('../images/icon_collection_v2.svg') no-repeat;
    mask: url('../images/icon_collection_v2.svg') no-repeat;
    width: 16px;
    height: 16px;
    display: inline-block;
}

/* .icon:hover {
    background-color: var(--primary-color);
} */

.icon-search {
    background-color: var(--icon-color);
    mask-position: 0px -1425px;
}

.icon-logo {
    background: url('../images/Logo.svg') no-repeat;
    background-position: 0px 0px;
    width: 32px;
    height: 32px;
}
.icon-dashboard {
    background-color: var(--icon-color);
    mask-position: 0px -272px;
}
.icon-account{
    background-color: var(--icon-color);
    mask-position: -224px -288px;
}
.icon-opportunity {
    background-color: var(--icon-color);
    mask-position:  -80px -48px;

}

.icon-quote{
    background-color: var(--icon-color);
    mask-position: -64px -48px;
}
.icon-sale-order{
    background-color: var(--icon-color);
    mask-position: -144px -48px;
}
.icon-product{
    background-color: var(--icon-color);
    mask-position: -16px -48px;
}
.icon-report{
    background-color: var(--icon-color);
    mask-position: -32px -272px;
}

.icon-all{
    background-color: var(--icon-color);
    mask-position:  -48px -272px;
}

.icon-folder{
    background-color: var(--icon-color);
    mask-position:  -208px -177px;
}
.icon-dropdown{
    background-color: var(--icon-color);
    mask-position: -48px -32px;
}

.icon-refresh{
    background-color: var(--icon-color);
    mask-position: -352px -32px;
}

.icon-static{
    background-color: var(--icon-color);
    mask-position:  -16px -1425px;
}

.icon-add{
    background-color: var(--icon-color);
    mask-position: -240px -128px;
}
.icon-import{
    background-color: var(--icon-color);
    mask-position: -176px -192px;
}
.icon-export{
    background-color: var(--icon-color);
    mask-position: -160px -192px;
}
.icon-none{
    background-color: var(--icon-color);
    mask-position: -112px -176px;
}

.icon-more{
    background-color: var(--icon-color);
    mask-position: -48px 0;
}
.icon-menu-drop{
    background-color: var(--icon-color);
    mask-position: -128px -304px;
}

.icon-phone{
    display: inline-block;
    background: url(../images/icon_collection_v2.svg) no-repeat;
    background-position: -320px -48px;
    width: 16px;
    height: 16px;
}

.icon-total-rows{
    background-color: var(--icon-color);
    mask-position: -272px -176px;
}

.icon-start-page{
    background-color: var(--icon-color);
    mask-position: -112px -224px;
}
.icon-previous-page {
    background-color: var(--icon-color);
    mask-position: -288px -32px;
}

.icon-next-page {
    background-color: var(--icon-color);
    mask-position: -304px -32px;
}
.icon-end-page {
    background-color: var(--icon-color);
    mask-position: -128px -224px;
}

.icon-delete{
    background-color: var(--primary-color);
    mask-position: -192px -128px;
}
.icon-edit{
    background-color: var(--primary-color);
    mask-position: -256px -128px;
}

.icon-user{
    display: inline-block;
    background: url('../images/icon_collection_v2.svg') no-repeat 0 -848px transparent;
    width: 48px;
    height: 48px;
}


.icon-account-category{
    background-color: var(--icon-color);
    mask-position: -288px -708px;
}

.icon-empty{
    display: inline-block;
    background: url('../images/EmptyInbox.svg') no-repeat -16px -40px transparent;
    width: 80px;
    height: 80px;
}

.icon-clear{
    background-color: var(--icon-color);
    mask-position: -80px -16px;
}
.icon-attach-file{
    background-color: var(--primary-color);
    mask-position: -240px -144px;
}