@import './reset.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import './icons.css';
@import './commons.css';

html, body {
  font-family: "Inter", sans-serif;
}

